.btn {
	transition: all 0.3s ease;
}

.btn-primary-light {
	border: 2px solid #fff;
	color: #fff;
}

.btn-primary-light:hover {
	background: #fff;
	color: var(--color-mg);
}

.btn-primary-dark {
	border: 2px solid var(--color-mg);
	color: var(--color-mg);
}

.btn-primary-dark:hover {
	background: var(--color-mg);
	color: #fff;
}

.btn-secondary {
	border: 2px solid #fff;
	background: #fff;
	color: var(--color-mg);
}

.btn-secondary:hover {
	border-color: var(--color-rb);
	background: var(--color-rb);
}
