.copy::before {
	content: '';
	height: 4px;
	display: inline-block;
	background: linear-gradient(
		to right,
		var(--color-mg) 0%,
		var(--color-mg) 155px,
		var(--color-rb) 155px,
		var(--color-rb) 205px,
		var(--color-mg) 205px,
		var(--color-mg) 100%
	);
	width: 100%;
}
