@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--red-filter: brightness(0) saturate(100%) invert(74%) sepia(35%)
		saturate(1456%) hue-rotate(307deg) brightness(100%) contrast(93%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@theme {
	--color-mg: hsl(186, 98%, 17%);
	--color-lc: hsl(0, 87%, 73%);
	--color-rb: hsl(179, 42%, 63%);
	--color-pb: hsl(187, 41%, 29%);
	--color-djg: hsl(186, 100%, 14%);
	--color-ssg: hsl(186, 96%, 10%);
	--color-dg: hsl(186, 100%, 8%);

	--breakpoint-lg: 1440px;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: #fff;
	background: var(--color-mg);
	font-family: var(--font-livvic);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
}

.h1-lg {
	font-size: 100px;
	line-height: 100px;
}

.h1-sm {
	font-size: 64px;
	line-height: 56px;
}

.h2 {
	font-size: 48px;
	line-height: 48px;
}

.h3 {
	font-size: 18px;
	line-height: 28px;
}

.body-one {
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
}

.body-two {
	font-size: 15px;
	line-height: 25px;
	font-weight: 600;
}
